$mdc-theme-primary: mediumpurple;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-secondary: #fef3c7;
$mdc-theme-on-secondary: #340744;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: mediumpurple;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #442C2E;
