<div class="container" id="mat-background-three">

  <section class="col-50">
    <section class="mat-background-secondary">
      <p>here is a paragraph filled with words</p>
      <p>customers works</p>
    </section>
    <section class="mat-background-secondary">
      <p>here is a paragraph filled with words</p>
      <p>customers works</p>
    </section>


    <section class="mat-background-secondary">
      <p>here is a paragraph filled with words</p>
      <p>customers works</p>
    </section>
    <section class="mat-background-secondary">
      <p>here is a paragraph filled with words</p>
      <p>customers works</p>
    </section>
  </section>

  <div class="col-50">

    <section class="mat-background-secondary">
      <p>here is a paragraph filled with words</p>
      <p>customers works</p>
    </section>
    <section class="mat-background-secondary">
      <p>here is a paragraph filled with words</p>
      <p>customers works</p>
    </section>
    <section class="mat-background-secondary">
      <p>here is a paragraph filled with words</p>
      <p>customers works</p>
    </section>
  </div>
</div>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>

