

<div class="container mat-background-secondary">
  <div class="mat-elevation-z8">
  <div class="column-offset-25">

          <section id="mat-backgrnd-four">
            <p>here is a paragraph filled with words</p>
            <p>home works</p>
          </section>
    <section id="mat-backgrnd-five">
      <p>here is a paragraph filled with words</p>
      <p>home works</p>
    </section>
  </div></div>

<div class="column-offset-75" >
  <div class="mat-elevation-z8">
    <table mat-table id="mytable">
      <tr mat-header-row>Header</tr>
      <tr mat-row></tr>

      <!-- Position Column -->
      <ng-container>
        <tr>
        <th mat-header-cell> Stuff </th>
        <td mat-cell > stuff </td>
        </tr>
        <tr>
        <th mat-header-cell> Stuff </th>
        <td mat-cell > stuff </td>
        </tr>
      </ng-container>

      <ng-container>
        <tr>
          <th mat-header-cell> Stuff </th>
          <td mat-cell > stuff </td>
        </tr>
        <tr>
          <th mat-header-cell> Stuff </th>
          <td mat-cell > stuff </td>
        </tr>
      </ng-container>

      <ng-container>
        <tr>
          <th mat-header-cell> Stuff </th>
          <td mat-cell > stuff </td>
        </tr>
        <tr>
          <th mat-header-cell> Stuff </th>
          <td mat-cell > stuff </td>
        </tr>
      </ng-container>

      <ng-container>
        <tr>
          <th mat-header-cell> Stuff </th>
          <td mat-cell > stuff </td>
        </tr>
        <tr>
          <th mat-header-cell> Stuff </th>
          <td mat-cell > stuff </td>
        </tr>
      </ng-container>

      <tr mat-header-row >table footer</tr>
      <tr mat-row></tr>
    </table></div></div></div>

<div class="app-content">
  <router-outlet></router-outlet>
</div>


