<div class="container" id="background-secondary">
  <!-- PROJECTS LIST -->
  <div class="col-50">
<app-projects-list
[projects]="projects$ | async"
  (selected)="selectProject($event)"
  (deleted)="deleteProject($event)">
></app-projects-list>
  </div>
  <!-- PROJECT DETAILS -->
  <div class="col-50">
<app-project-details
  [project]="selectedProject"
  (saved)="saveProject($event)"
  (cancelled)="cancel($event)">
</app-project-details>
  </div>
  <app-projects-text>
    <div class="col-50">

    </div>
  </app-projects-text>

</div>
